@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  max-width: 480px;
  margin: 0 auto;
  padding: 10px; 
}
body>* {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 10px;
}
.to-do-input {
  border: 1px solid lightgray;
  font-size: 16px;
}
.to-do-input:focus {
  outline: none !important;
  border: 1px solid black;
}
.to-do-list {
  list-style-type: none;
}
.to-do-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.to-do-delete {
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  border: 0;
}